h1, p {
  margin: 1em auto;
  text-align: center;
}

input {
  display: inline;
}

input,
textarea,
select {
  margin: 2px 0 0 0;
  width: 100%;
  min-height: 2em;
}

label {
  display: block;
  margin: 1em 0 0 0;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  padding-right: 1em;
}

.sauce-section,
.topping-section {
  padding: 1em 0 0 0;
}

.inline {
  width: unset;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
}

.inline {
  display: inline;
}